.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* Add a Verdigris background color to the top navigation */
.topnav {
    background-color: #38A3A5;
    overflow: hidden;
}
/* Style the links inside the navigation bar added font color of Rich Black*/
.topnav a {
    float: right;
    display: block;
    color: #051923;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}